<div class="bjui-pageContent">
    <div style="margin:15px auto 0; width:96%;">
        <div class="row" style="padding: 0 8px;">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>今日订单 </h3></div>
                    <div class="panel-body">
                        <div style="mini-width:400px;height:350px" data-toggle="echarts" data-type="map" data-url="echarts-mapData.html"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>订单状态</h3></div>
                    <div class="panel-body">
                        <div style="mini-width:400px;height:350px" data-toggle="echarts" data-type="pie,funnel" data-url="echarts-pieData.html"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>销量/收入 </h3></div>
                    <div class="panel-body">
                        <div style="mini-width:400px;height:350px" data-toggle="echarts" data-type="bar,line" data-url="echarts-barData.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>