<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.mybatis.mapper.TClientUserMapper">
  <resultMap id="BaseResultMap" type="com.zhiliao.mybatis.model.TClientUser">
    <id column="client_id" jdbcType="INTEGER" property="clientId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_client_user
    where client_id = #{clientId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true"  keyProperty="clientId"  parameterType="com.zhiliao.mybatis.model.TClientUser">

    insert into t_client_user ( username, password,
      email, linkman, mobile, 
      status, ip, last_time, 
      salt,user_type)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{ip,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{salt,jdbcType=VARCHAR},#{userType,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhiliao.mybatis.model.TClientUser">
    update t_client_user
     <trim prefix="set" suffixOverrides=",">
       <if test="username!=null">
         username = #{username,jdbcType=VARCHAR},
       </if>
       <if test="password!=null and password!=''">
         password = #{password,jdbcType=VARCHAR},
       </if>
       <if test="email!=null">
         email = #{email,jdbcType=VARCHAR},
       </if>
       <if test="linkman!=null">
         linkman = #{linkman,jdbcType=VARCHAR},
       </if>
       <if test="mobile!=null">
         mobile = #{mobile,jdbcType=VARCHAR},
       </if>
       <if test="status!=null">
         status = #{status,jdbcType=BIT},
       </if>
       <if test="ip!=null">
         ip = #{ip,jdbcType=VARCHAR},
       </if>
       <if test="lastTime!=null">
         last_time = #{lastTime,jdbcType=TIMESTAMP},
       </if>
       <if test="salt!=null">
         salt = #{salt,jdbcType=VARCHAR},
       </if>
       <if test="userType!=null">
         user_type = #{userType,jdbcType=INTEGER},
       </if>
     </trim>
    where
     client_id = #{clientId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select client_id, username, password, email, linkman, mobile, status, ip, last_time, 
    salt,user_type
    from t_client_user
    where client_id = #{clientId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select client_id, username, password, email, linkman, mobile, status, ip, last_time, 
    salt,user_type
    from t_client_user
  </select>

  <select id="selectByCondition" parameterType="com.zhiliao.mybatis.model.TClientUser" resultMap="BaseResultMap">
    select client_id, username, password, email, linkman, mobile, status, ip, last_time,
    salt,user_type
    from t_client_user
    <trim prefix="WHERE ("  suffix=")" prefixOverrides="AND|OR">
      <if test="username!=null and username!=''">
        username like CONCAT('%',${username},'%'),
      </if>
      <if test="email!=null and email!=''">
        and  email = #{email}
      </if>
      <if test="linkman!=null and linkman!=''">
       and  linkman = #{linkman}
      </if>
      <if test="mobile!=null and mobile!=''">
        and  mobile = #{mobile}
      </if>
      <if test="status!=null">
        and  status = #{status}
      </if>
    </trim>
    ORDER BY client_id DESC
  </select>

</mapper>