<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="${ctxPath}/static/front/chuangke/css/common.css" type="text/css" rel="stylesheet" />
		<link href="${ctxPath}/static/front/chuangke/css/style.css" type="text/css" rel="stylesheet" />
		<script src="${ctxPath}/static/front/chuangke/js/jquery-1.8.3.min.js"></script>
		<script src="${ctxPath}/static/front/chuangke/js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="${ctxPath}/static/front/chuangke/js/imgscroll.js"></script>
		<script src="${ctxPath}/static/front/chuangke/js/plugin.js"></script>
		<script src="${ctxPath}/static/front/chuangke/js/Browser.js"></script>
		<script src="${ctxPath}/static/front/chuangke/js/jquery.pagination.min.js"></script>
	</head>

	<body>
		<div class="container grey_bg">
			<header>
				<div class="center width1200">
					<div>
						<a href="${ctxPath}/front/${site.siteId!}"><img src="${ctxPath}/static/front/chuangke/image/school_logo1.png" class="school_logo"><div>${site.sitename!}</div></a>
						<nav>
							<a href="${ctxPath}/front/${site.siteId!}">学校主页</a>
							<a href="#">创客作品</a>
							<a href="#">校园风采</a>
							<a href="#">校本课程</a>
							<a href="${ctxPath}/front/${site.siteId!}/${rzId!}">校园日志</a>
						</nav>
					</div>
					<a href="index.html" class="login">
						<img src="${ctxPath}/static/front/chuangke/img/login.png" /> 请登录
					</a>
					<a href="index.html" class="login hide">
						<img src="${ctxPath}/static/front/chuangke/img/news.png" />
					</a>
				</div>
			</header>

			<div class="zone_banner">
				<img class="scrollLoading" src="${ctxPath}/static/front/chuangke/img/blank.png" data-url="${ctxPath}/static/front/chuangke/image/school_index.png" />
			</div>

			<div class="search_box1">
				<div class="width1200 center">
					<div class="bread_nav">
						<img src="${ctxPath}/static/front/chuangke/img/pos.png" />您当前位置：<label><a>首页</a><span>></span><a>校园资讯</a></label>
					</div>
					<form action="${ctxPath}/front/search">
						<input NAME="s" type="hidden" value="${site.siteId!}">
						<img src="${ctxPath}/static/front/chuangke/img/search.png" />
						<input name="keyword" type="search" placeholder="请搜索您想找的资源" VALUE="${keyword!}" />
						<button type="submit">搜索</button>
					</form>
				</div>
			</div>

			<div class="center width1200 school_info content">
				<div class="info_nav">
					<#cms_category  categoryId="${category.categoryId}" isParent="1" var="bean">
						<div class="nav_tit">
							<img src="${ctxPath}/static/front/chuangke/img/zx.png" />${bean.categoryName!}
						</div>
					</#cms_category>
					<ul>
						<#cms_category_list  siteId="${site.siteId}" categoryId="${category.categoryId!}" isNav="0"   var="bean">
							@if(bean.categoryId==category.categoryId){
							<li class="active">
								@}else{
							<li>
								@}
								<a href="${bean.url!}">${bean.categoryName!}</a>
							</li>
						</#cms_category_list>
					</ul>
				</div>
				<div class="info_stage">
					<div class="stage_tit">
						全部资讯
					</div>
					<div class="info_list_stage">
						<ul>
							<#cms_content_page  siteId="${site.siteId!}"  titleLen="15" page="${page!}"  var="content">
								<li>
									<label>
										<a href="${content.url!}">${content.title!}</a>
										@if(isNotEmpty(content.thumb)){
										<i class="info_pic"><img src="${ctxPath}/static/front/chuangke/img/info_pic.png"></i>
										@}
									</label>
									<time>${content.inputdate!,dateFormat="yyyy-MM-dd HH:mm"}</time>
									<span>${content.viewNum!} <font>已阅读</font></span>
								</li>
							</#cms_content_page>
						</ul>
						<div  class="m-pagination">
							<ul class="m-pagination-page" style="display: block;">
								<#cms_pagination siteId="${site.siteId}" categoryId="${category.categoryId}" page="${page!}"  var="page" >
									<li>${page.last}</li>
									@for( change in page.changePage){
									@if(!change.isLink){
									<li  class="active">${change.value!}</li>
									@}else{
									<li>${change.url!}</li>
									@}
									@}
									<li>${page.next}</li>
								</#cms_pagination>
							</ul>
							<div class="m-pagination-size">
								<select data-page-btn="size">
									<option value="5">5</option>
									<option value="10">10</option>
									<option value="15">15</option>
									<option value="20">20</option>
								</select>
							</div>
							<div class="m-pagination-jump" style="">
								<div class="m-pagination-group">
									<input type="text"><button type="button">Go</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--侧边工具栏-->
			<div class="toolbar">
				<a href="###" class="toolbar-item toolbar-item-weixin">
					<span class="toolbar-layer"></span>
				</a>
				<a href="response.html" class="toolbar-item toolbar-item-feedback"></a>
				<a href="###" class="toolbar-item toolbar-item-app">
					<span class="toolbar-layer"></span>
				</a>
				<a href="javascript:void(0)" id="top" class="toolbar-item toolbar-item-top"></a>
			</div>

			<footer>
				<div class="center width1200">
					<img src="${ctxPath}/static/front/chuangke/image/content1.png" />
					<div>
						<span>技术运营：河南众诚信息科技股份有限公司</span>
						<span>豫ICP备 05010997号 郑州市教育局 版权所有</span>
						<span>地址：河南省郑州市中原西路40号  邮政编码：450007 电话：0371-66976696 E-Mail：zzsjyj#zzedu.net.cn</span>
					</div>
				</div>
			</footer>

		</div>

		<!--浏览器处理-->
		<div class="browser_div">
			<a href="https://www.zhiliao.ha.cn/www/chuangke/soft/ChromeStandalone_58.0.3029.110_Setup.exe"></a>
			<img src="${ctxPath}/static/front/chuangke/img/browser.png" style="display: none;" />
			<img src="${ctxPath}/static/front/chuangke/img/browser_act.png" style="display: none;" />
		</div>
	</body>

</html>