<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="${ctxPath}/static/www/chuangke/css/common.css" type="text/css" rel="stylesheet" />
		<link href="${ctxPath}/static/www/chuangke/css/style.css" type="text/css" rel="stylesheet" />
		<script src="${ctxPath}/static/www/chuangke/js/jquery-1.8.3.min.js"></script>
		<script src="${ctxPath}/static/www/chuangke/js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="${ctxPath}/static/www/chuangke/js/imgscroll.js"></script>
		<script src="${ctxPath}/static/www/chuangke/js/plugin.js"></script>
		<script src="${ctxPath}/static/www/chuangke/js/Browser.js"></script>
		<script src="${ctxPath}/static/www/chuangke/js/jquery.pagination.min.js"></script>
	</head>

	<body>
		<div class="container grey_bg">
			<header>
				<div class="center width1200">
					<div>
						<a href="${ctxPath}/front/${site.siteId!}"><img src="${ctxPath}/static/www/chuangke/image/school_logo1.png" class="school_logo"><div>${site.sitename!}</div></a>
						<nav>
							<a href="${ctxPath}/front/${site.siteId!}">学校主页</a>
							<a href="#">创客作品</a>
							<a href="#">校园风采</a>
							<a href="#">校本课程</a>
							<a href="${ctxPath}/front/${site.siteId!}/${rzId!}"  class="active">校园日志</a>
						</nav>
					</div>
					<a href="#" class="login">
						<img src="${ctxPath}/static/www/chuangke/img/login.png" /> 请登录
					</a>
					<a href="index.html" class="login">
						<img src="${ctxPath}/static/www/chuangke/img/news.png" />
					</a>
				</div>
			</header>

			<div>
				<div class="width1200 center">
					<#cms_site_pos  site="${site}" category="${category}"  var="bean">
						<div class="bread_nav">
							<img src="${ctxPath}/static/www/chuangke/img/pos.png" />您当前位置：<label>${bean.baseURL}<span>></span>${bean.catURL}</label>
						</div>
					</#cms_site_pos>
				</div>
			</div>

			<div class="center width1200 school_works content">
				<div class="info_stage">
					<div class="info_content">
						<h2 class="info_content_tit">${content.title!}</h2>
						<div class="info_content_tit_sub">
							<section>
								<#cms_category  categoryId="${category.categoryId}" isParent="0" var="bean">
									<label>分类：<a class="info_kinds">${bean.categoryName!}</a></label>
								</#cms_category></section>
							<section>
								<label>发布单位：<a class="publisher">${content.author!}</a></label>
								<em></em>
								<label>浏览量：（<span>${content.viewNum!}</span>）</label>
							</section>
							<section>
								<label>发布时间：<span>${content.inputdate!}</span></label>
							</section>
						</div>
						<div class="info_content_content">
							<p>${content.content!}</p>
						</div>
						<div class="works_file_bar">
							<label><img src="${ctxPath}/static/www/chuangke/img/fold.png"/>附件：<img src="${ctxPath}/static/www/chuangke/img/word.png" class="fold_icon"/><span class="fold_name">春泥</span><a>下载</a></label>
							<div class="info_content_bar">
								<#cms_content  contentId="${content.content_id!}" categoryId="${category.categoryId!}" titleLen="5" var="content">
									<label>
										上一篇：${content.prev!}
									</label>
									<label>
										下一篇：${content.next!}
									</label>
								</#cms_content>
							</div>

						</div>
					</div>
				</div>
			</div>


			<!--侧边工具栏-->
			<div class="toolbar">
				<a href="###" class="toolbar-item toolbar-item-weixin">
					<span class="toolbar-layer"></span>
				</a>
				<a href="response.html" class="toolbar-item toolbar-item-feedback"></a>
				<a href="###" class="toolbar-item toolbar-item-app">
					<span class="toolbar-layer"></span>
				</a>
				<a href="javascript:void(0)" id="top" class="toolbar-item toolbar-item-top"></a>
			</div>

			<footer>
				<div class="center width1200">
					<img src="${ctxPath}/static/www/chuangke/image/content1.png" />
					<div>
						<span>技术运营：河南众诚信息科技股份有限公司</span>
						<span>豫ICP备 05010997号 郑州市教育局 版权所有</span>
						<span>地址：河南省郑州市中原西路40号  邮政编码：450007 电话：0371-66976696 E-Mail：zzsjyj#zzedu.net.cn</span>
					</div>
				</div>
			</footer>

		</div>

		<!--浏览器处理-->
		<div class="browser_div">
			<a href="https://www.zhiliao.ha.cn/www/chuangke/soft/ChromeStandalone_58.0.3029.110_Setup.exe"></a>
			<img src="${ctxPath}/static/www/chuangke/img/browser.png" style="display: none;" />
			<img src="${ctxPath}/static/www/chuangke/img/browser_act.png" style="display: none;" />
		</div>
	</body>

</html>